/* Define three CSS classes corresponding to "themes" */
.theme1 {
    font-family: "Times New Roman", serif;
    background-color: GhostWhite;
    font-size: .95em;
}

.theme2 {
    font-family: "Courier New", monospaced;
    background-color: Ivory;
    font-size: .9em;
}

.theme3 {
    font-family: "Comic Sans MS", sans-serif;
    background-color: FloralWhite;
    font-size: .85em;
}

/* The following CSS is just for basic layout and appearance */
#sampleText {
    margin: 10px 30px;
    padding: 0 10px;
    border: 1px ridge black;
}

#themeForm, #attributeForm {
    float: left;
    margin-left: 30px;
}

input[type='radio'] {
    margin: 0 5px 0 0;
}

h1, h2, h3 {
    margin: 10px 0;
}

table {
    background-color: white;
}

th {
    color: white;
    background-color: black;
    text-align: left;
}

button {
    margin-top: 10px;
    font-size: .8em;
}
